
h1,h2
{
    text-align: center;
}
h1{
    background-color: black;
    color: white;
    border:thick double #32a1ce;
    
}
h2{
    color: blue;
    border: 4mm ridge rgba(211, 220, 50, .6);
}
article{
    border: 2px solid blue;

}
p{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0.5rem solid;
}

span{
    font-size: 200%;
    color: green;

}
div{
    color: purple;
    border: dashed;
}

p.one{
border: solid;
margin: 50px;
padding: 30px;
}

p.two{
    border: solid yellow;
margin: 20px;
padding: 10px;
}
p.three{
    border: solid blue;
margin: 100px;
padding: 70px;
}